# L3 SQL

### SQL: structured query language
- Standard for relational databases
- Works on multisets; unlike relational algebra which only works on sets
- Both a DDL and DML
### The DML
- Queries relations to CRUD on tuples (entries)
- Commands include:
    - Integrity constraints
    - Define view
    - Intiates transaction
    - Authentication/Authorisation
### The DDL
- Define schema
- Define attributes, their types and domains
- Integrity constraints, e.g. foreign keys
- Indices
- Security/authorisation
- Physical storage on disk
### SQL basic types
- char(n)
    - fixed length character string of length n
- varchar(n)
    - variable length character string of max length n
- int
- smallint
- numeric(p,d)
    - fixed point num of width p (including a sign), d digits after decimal point
- double
- all of above may be NULL
### E.g.
```
    CREATE TABLE albums 
    (
        AlbumId INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        Title NVARCHAR(160) NOT NULL,
        ArtistId INTEGER NOT NULL,
        FOREIGN KEY ArtistId REFERENCES artists ArtistId 
    );
```
- Has the form:
    ```
    create table r
    (
        A1 D1,
        A2 D2,
        ...,
        An Dn,
        ⟨integrity-constraint1⟩,
        …,
        ⟨integrity-constraintk⟩
    );
    ```
### Integrity constraints
- Primary keys
- Foreign keys
### Updating
- Delete a table
    - `drop table table_name`
- Updating a table
    - `alter table r add A D`
        - adds attribute A with domain D to r
    - `alter table r drop A`
        - drops attribute A from table r
### Queries
- SELECT
    - SELECT *: all columns
    - SELECT distinct col_name: removes duplicates
    - SELECT all: does not remove duplicates
- WHERE
- multiple relations:
    - `select * from tracks,albums where tracks.AlbumId=albums.AlbumId`
- rename:
    ```
    select T.name, S.course id
    from instructor as T, teaches as S
    where T.ID= S.ID;
    ```
### String operators
- " for '
- `like`: for pattern matching
- `%`: matches substring
- `_`: matches single char